.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
}

.game {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #fff
}